.header__nav {
	max-width: 1440px;
	height: 70px;
	margin-left: 0;
	background-color: $menu-color;
	box-shadow: 0px 10px 20px $dark5;
	&_logout {
		justify-content: space-around;
	}
	&_login {
		justify-content: space-between;
	}
}
.header__nav, .nav__links, .nav__personal {
	display: flex;
}
.nav__logo, .nav__item, .button, .username {
	margin-top: auto;
	margin-bottom: auto;
}
.nav__logo {
	padding-top: 3px;
	&_logout {
		padding-left: 1.4%;
	}
	&_login {
		margin-left: 9.7%;
	}
}
.nav__links {
	padding-bottom: 1px;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	&_logout {
		padding-left: 1.5%;
	}
	&_login {
		margin-right: 9.7%;
	}
}
.nav__link, .username {
	color: $dark50;
}
.nav__link {
	margin-left: 21px;
	&_active {
		font-weight: bold;
		color: $dark75;
	}
	&_arrow {
		margin-left: 3px;
		margin-right: 4px;
	}
}
.nav__personal {
	margin-top: 1px;
	&_logout {
		margin-left: 21px;
	}
}
.button {
	margin-right: 20px;
}
.username {
	margin-left: 22px;
	padding-left: 20px;
	border-left: 1px solid $dark10;
	padding-top: 6px;
	padding-bottom: 6px;
}
