@import "../import/variables.scss";
@import "../import/fonts.scss";
@import "../import/UIkit-style.scss";
@import "../import/buttons.scss";
@import "../import/menu.scss";
@import "../import/logo.scss";

.container {
	background-color: $back-color;
}
// menu 
.header__nav {
	&_logout {
		margin-top: 60px;
	}
	&_login {
		margin-top: 40px;
	}
}
