doctype html

block variables 

html(lang='ru-RU')
	<head>
		meta(charset='utf-8')
		meta(name='description' content='')
		meta(name='keywords' content='')
		title #{title}
	</head>
	<body>
		div.container
			block mixin 
			block content
	</body>