doctype html
html(lang='ru-RU')
	<head>
		meta(charset='utf-8')
		meta(name='description' content='')
		meta(name='keywords' content='')
		block variables 
		title #{title}
	</head>
	<body>
		div.container
			block mixin 
			block logo
				div.logo
			block content
	</body>